/* Адаптирование под iphone 11 */

@media (max-width: 414px) {
  .nav {
    display: none;
  }
  .sign-in_list {
    display: none;
  }
  .burger_menu_btn {
    display: block;
  }
  .burger_menu {
    width: 100%;
    padding: 10px 20px 0px 20px;
    display: block;
    position: absolute;
    bottom: 0;
    top: 95px;
    right: 0;
    left: -100%;
    height: calc(100vh - 95px);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.4s ease-in;
  }
  .burger_menu_active {
    left: 0;
  }
  .burger_menu a {
    font-weight: 500;
    font-size: 20px;
  }

  .burger_menu li {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .burger_menu a:hover {
    color: #e13c52;
  }
  .burger_menu li:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 37px;
    margin-bottom: 50px;
  }
  .menu_sign-in {
    margin-right: 0;
  }
  .header_top_left {
    margin: 0;
  }
  .header_top {
    padding: 20px 20px 20px 20px;
  }

  .footer {
    display: none;
  }
  .sign-in_list_input {
    width: 100%;
    /* background: rgba(172, 10, 10, 0.7); */
    background-color: #232229;
  }
}
