.header_top {
  padding: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.3);
}
.header_top_left,
.header_top_right {
  gap: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_top_left {
  margin-left: 70px;
}
.nav {
}
.nav_menu {
  gap: 45px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_list,
.sign-in_list a {
  font-weight: 500;
  font-size: 24px;
}
.menu_list a {
  padding: 10px 23px;
  transition: 0.5s ease-in;
}
.menu_list a:hover {
  border-radius: 60px;
  background-color: #e13c52;
}

.menu_sign-in {
  margin-right: 58px;
  gap: 45px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in_list {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in_list_input {
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
}

.header_slider {
  /* height: calc(100vh - 106px); */
  height: 813px;
  background-image: url("./imgHeader/bg-header-slider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header_slider_info {
  padding-top: 339px;
  margin-left: 70px;
  max-width: 570px;
}
.header_slider_info h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 60px;
}
.slider_info_btn {
  color: #fff;
  background: #e13c52;
  padding: 10px 34px;
  border-radius: 60px;
  box-shadow: none;
  border-bottom: none;
  font-weight: 500;
  font-size: 24px;
  transition: 0.2s ease-in;
}

.slider_info_btn:hover {
  transform: scale(1.2);
}
.slider_group_switch {
  position: relative;
  bottom: -134px;
  text-align: center;
}
.switch {
  width: 46px;
  height: 4px;
  margin-right: 15px;
  /* background-color: red; */
  background: rgba(217, 217, 217, 0.3);
}

.switch:hover {
  background-color: #fff;
}
