@media (max-width: 414px) {
  .nav {
    position: absolute;
    bottom: 0;
    top: 106px;
    right: 0;
    left: 0;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .nav_menu {
    gap: 1px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .menu_list a {
    padding: 2px;
    font-size: 15px;
    opacity: 1;
  }

  .header_top {
    padding: 30px 20px 20px 20px;
  }
  .header_top_left {
    margin: 0;
  }
  .sign-in_list {
    display: none;
  }
  .adaptiv_menu {
    display: block;
  }
  .menu_sign-in {
    margin-right: 0;
  }
}
